# requirements.txt

# --- Core LangChain Libraries ---
langchain
langchain-core
langchain-community
langchain-text-splitters

# --- Integrations ---
langchain-google-genai
langchain-pinecone

# --- Foundational Libraries ---
flask
sentence-transformers
pypdf
python-dotenv
pinecone-client

# --- For Linking to Jupyter/VSCode ---
ipykernel

# --- Your Local Package ---
-e .